.line-items-container {
  display: flex;
  flex-direction: column;
}

.line-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.item-image {
  width: 250px;
  height: auto;
  margin-left: 160px;
}

.line-name {
  margin-left: 50px;
}

.item-details {
  margin-left: 950px;
  display: flex;
  flex-direction: column;
}

.calc-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.text-calc {
  width: 50%;
  margin-left: 460px;
}

.num-calc {
  margin-right: 300px;
  text-align: right;
  width: 50%;
}

.num-calc p {
  margin: 0;
}

.text-calc p:last-child {
  color: blue;
}

.App h1 {
  margin-left: 180px;
}

